<ng-container *ngIf="fromComp=='productListComponent'">
    <input [appInputDirective]="productDetail.stock" class="form-control" type="number"
        [(ngModel)]="productDetail.stock" #textStockStatus='ngModel' required />
    <div [hidden]="textStockStatus.valid" class="alert alert-danger">
        Field is Required
    </div>
    <br>
    <div [hidden]="productDetail.price*productDetail.stock==0">
        <label
            [ngStyle]="{'width':'70px', 'color': 'white','background-color':divcolor}">{{colortag}}</label>&nbsp;&nbsp;
        <label [appGrade]="productDetail.stock"> </label>
    </div>
</ng-container>


<ng-container *ngIf="fromComp=='cartComponent'">
    <input class="form-control" type="number" [(ngModel)]="productDetail.quantity" #textQuantity='ngModel' required />
    <div [hidden]="textQuantity.valid" class="alert alert-danger">
        Field is Required
    </div>
    <div [hidden]="!(productDetail.quantity > productDetail.stock)">
        Value must be less than {{ productDetail.stock }}
    </div>
</ng-container>