<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Home</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link"[ngClass]="{'hover':true}" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)='redirectToSignUp()'
    >Sign Up</button>&nbsp;&nbsp;
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="redirectToSignIn()"
    routerLink="signin"
    
    >Sign In</button>
  </nav>